*::after,*::before{
 box-sizing: border-box;
}
html{
    font-size: 62.5%;
    justify-content: center;
}
:root{
    --color-P:#242222;
    --color-S:#de8e06;
}
.calculadora{
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 2rem;
    border: 1rem solid var(--color-P);
    background-color: var(--color-P);
    text-align: center;
}
#pantalla{
 padding: 3rem 15rem;
 border:none;
 border-radius: 3rem;
 color: white;
 font-size: 3rem;
 font-weight: bolder;
 text-align: center;
}
input[type="button"]{
    width: 6rem;
    height:6rem;
    margin:3rem;
    font-size:2rem;
    cursor: grab;
    background-color: var(--color-S);
    border:none;
    border-radius:2rem;
    font-family: monospace;
    font-size: 3rem;
}
.header{
    text-align: center;
    font-size: 2rem;
    background-color: var(--color-S);
    border-radius: 5rem;
}
a{
    color: var(--color-P);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
a:hover{
 color: #fff;
}